:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.login {
    width: 230px;
    background-color: rgb(204, 222, 238);
    padding: 2em;
    border: 2px solid rgb(71, 112, 145);
    box-shadow: 0 0 1.5em rgb(27, 43, 66);
    border-radius: 1em;

    div {
        margin: 0.8em 0;

        input[type=text],
        input[type=password] {
            width: 100%;
            box-sizing: border-box;
            padding: 0.4em;
        }
    }

    label:not(:last-child) {
        display: block;
    }

    button {
        width: 100%;
        height: 2.3em;
        background-color: rgb(71, 103, 145);
        border: 2px solid rgb(27, 39, 66);
        color: white;
        border: 2px;
        border-radius: 0.3em;
    }

    button:hover {
        background-color: rgb(27, 39, 66);
        border: 2px solid rgb(84, 122, 170);
    }

    input:focus {
        outline-color: rgb(54, 74, 124);
    }
}