.sidebar {
    background-color: rgb(71, 112, 145);
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    box-sizing: border-box;
    padding: 0.2em;

    a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 0.6em 0.5em;
        border-radius: 0.3em;
        cursor: pointer;
    }

    a:hover {
        background-color: rgb(190, 204, 226);
        color: rgb(31, 31, 53);
    }
}

.content {
    margin-right: 250px;
    padding: 0.6em;
}