@if (action=='list') {
<div>
    <button (click)="add()" class="add">افزودن</button>
</div>
<table>
    <thead>
        <tr>
            <th>شناسه</th>
            <th>عنوان</th>
            <th>نویسنده</th>
            <th>ناشر</th>
            <th>قیمت</th>
        </tr>
    </thead>

    <tbody>
        @for (book of data; track $index) {
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.writer}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.price}}</td>
            <td>
                <button class="update">ویرایش</button>
                <button class="remove">حذف</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}
@else {
<form (ngSubmit)="save()">
    <div>
        <input [(ngModel)]="item.id" id="id" name="id" type="number" placeholder="شناسه">
    </div>
    <div>
        <input [(ngModel)]="item.title" id="title" name="title" type="text" placeholder="عنوان">
    </div>
    <div>
        <input [(ngModel)]="item.writer" id="writer" name="writer" type="text" placeholder="نویسنده">
    </div>
    <div>
        <input [(ngModel)]="item.publisher" id="publisher" name="publisher" type="text" placeholder="ناشر">
    </div>
    <div>
        <input [(ngModel)]="item.price" id="price" name="price" type="number" placeholder="قیمت">
    </div>

    <div>
        <button class="submit" type="submit">تایید</button>
        <button (click)="cancel()" class="cancel" type="button">انصراف</button>
    </div>
</form>
}